body{
    background-image: url('bg.png');
}
.content{
    position: absolute;
    left: 25%;
    width: 40%;
}
.img{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
.text{
    position: relative;
    left: 68%;
    width: 50%;
    margin-top: -25%;
}
.text a, p{
    display: inline-block;
    font-size: 1.2vw;
}
.text p{
    color: #fe2744;
    margin: 0;
}
.text a{
    color: #3742DD;
}
#lineOne{
    display: block;
}